body{
    margin:auto;
    overflow-x: hidden;
}
#home-img-txt-h1{
    font-size: 10vw;
    -webkit-text-stroke: 4px #013e7f;
    white-space: nowrap;
    margin: -9px;
    overflow: hidden;
  }
#home-img-txt-h2{
    font-size: 4vw;
    color: darkorange; /* easier to use darkorange then a colorcode @Max*/
    /* text-shadow: 0px 2px 20px black; */
    margin: 2px;
    -webkit-text-stroke: 1.5px #013e7f;
}
.home-bg-img-div {
    position: relative;
    text-align: center;
    color: white;
    z-index: 1;
    margin: auto;
}
.home-bg-img-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1 content{
    outline: #013e7f auto;
    padding: 10px;
    margin: 1px;
    background: linear-gradient(0deg, #013e7f, #668BB2);
    color: white;
}