* {
   font-family:Helvetica,Arial,sans-serif
   }
   
   nav {
   z-index:9999
   }
   
   #topnav {
   width:100%;
   position:fixed;
   top:0;
   height: 60px;
   left:0;
   background:linear-gradient(to top,#f58426,#fac192,#668BB2,#013e7f);
   background-size:400% 400%;
   animation:gradient 15s linear infinite;
   font-family:Helvetica,Arial,sans-serif;
   font-size:14pt;
   z-index:9999;
   display:flex;
   justify-content: space-between;
   align-items: center;
   }
   @keyframes gradient {
      0% {
      background-position:0 0
      }
      
      50% {
      background-position:100% 0
      }
      
      100% {
      background-position:0 0
      }
      }
   .wrap-nav {
   white-space:nowrap;
   display: contents;
   }
   
   .nav-link {
      cursor: pointer;
      padding: 16px 16px;
      font-family: inherit;
      text-align: center;
      text-decoration: none;
      color: white;
      display: inline-flex;
   }

   
   .nav-link:hover {
    background: white;
      outline-color: white;
   cursor:pointer;
   color:#013e7f;
   }
   
   .nav-img:hover {
   color:#f58426;

   cursor:pointer
   }
   
   .nav-img {
   /* width:177px; */
   height:55px;
   /* line-height:55px; */
   text-decoration:none;
   display: flex;
   vertical-align:middle;
   justify-content: flex-start;
   }
   
   .image-container {
   position:relative;
   display:inline-block
   }
   
   .alt-text {
   position:absolute;
   bottom:0;
   left:0;
   font-size:14pt;
   background:linear-gradient(to top,#fac192,#f58426);
   color:white;
   text-decoration: underline;
   padding:5px;
   display:none;
   width:167px;
   text-align:center;
   transform:translateY(100%);
   font-weight:500
   }

   
   .image-container:hover .alt-text {
   display:block;
   position:absolute
   }
   
   #logo {
   width:120px;
   background-color:#013e7f;
   font-weight:700
   }
   
   .dropdown {
   float:right;
   overflow:hidden;
   line-height:55px
   }
   
   .dropdown .dropbtn {
   cursor:pointer;
   font-size: 18px;
   border:none;
   outline:none;
   color:#fff;
   background-color: #013e7f;
   padding: 18px 16px;
   background-color:inherit;
   font-family:inherit;
   margin:0;
   width:auto;
   height:auto;
   text-align:center;
   text-decoration:none;
   margin-top:0;
   /* display: inline-flex; */
   /* flex-wrap: nowrap; */
   flex-direction: row;
   align-content: center;
   }
   .navbar{
      background-color: #013e7f;
   }
   .navbar a:hover,.dropdown:hover .dropbtn,.dropbtn:focus {
   background-color: #fff;
   color: #013e7f;
   }
   
   .dropdown-content {
   background-color: #013e7f;
   display:none;
   position:absolute;
   background-color:#f9f9f9;
   width:80px;
   box-shadow:1px 1px 1px 1px #0003;
   z-index:10
   }
   
   .dropdown-content a {
   float:none;
   color:#fff;
   padding:12px 11px;
   text-decoration:none;
   display:block;
   text-align:left;
   background:linear-gradient(to left,#668BB2,#013e7f);
   }
   .dropdown-content a:hover {
      
      background:linear-gradient(to top,#fac192,#f58426);
      color:#013e7f;
   width:80px;
   }
   .show {
   display:block
   }
   

   @media only screen and (min-width: 630px) {
      .dropbtn {
      display:none
      } 
      
      .three-small {
      display:none
      }
      
      .two-small {
      display:none
      }
      
      .one-small {
      display:none
      }
      }  
   @media only screen and (max-width: 630px) {
   .dropbtn {
   display:block
   } 
   .two-big  {
   display:none
   }
   
   .three-big {
   display:none
   }
   
   .three-small {
   display:block
   }
   
   .two-small {
   display:block
   }
   
   .one-small {
   display:none
   }
   }
   
   @media only screen and (max-width: 540px) {
   .dropbtn {
   display:block
   }
   
   .two-big {
   display:none
   }
   
   .three-big {
   display:none
   }
   
   .three-small {
   display:block
   }
   
   .two-small {
   display:block
   }
   
   .one-small {
   display:block
   }
   
   .one-big {
   display:none
   }
   }
   