nav{
    z-index: 9999; 
    
 }
 #topnav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: Black;
    font-family: Arial, sans-serif;
    font-size: 15px;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .wrap-nav {
    white-space: nowrap;
 }
 .nav-link {
    display: inline-block;
    width: 100px;
    height: 55px;
    color: White;
    text-align: center;
    line-height: 55px;
    text-decoration: none;
    margin-top: 0vh;
 
 }
 .nav-link:hover{
     cursor:pointer;
 }
 .nav-img:hover{
     cursor:pointer;
 }
 .nav-img {
     width: 177px;
     height: 55px;
     line-height: 55px;
     text-decoration: none;
     display: inline-block;
     vertical-align: middle;
     margin-right:50px;
 
  }
 .image-container {
    position: relative;
    display: inline-block;
 }
 .alt-text {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #f58426;
    color: #013e7f;
    font-size: 2vw;
    padding: 5px;
    display: none;
    width: 167px;
    text-align: center;
    transform:translateY(100%);
    font-weight:500;
 
    
  }
  .image-container:hover .alt-text {
    display: block;
    position: absolute;
    
  }
 #logo {
    width: 120px;
 
    background-color: #013e7f;
 
    font-weight: bold;
 }
 
 .dropdown {
    float: right;
    overflow: hidden;
 
    line-height: 55px;
    
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
 
    width: 100px;
    height: 55px;
    color: White;
    text-align: center;
    text-decoration: none;
    margin-top: 0vh;
 
 
 
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }
  
  
  @media only screen and (max-width: 630px) {
    .dropbtn {
      display:block;
    }
    .login-big{
       display:none;
    }
    .staff-big{
       display:none;
    }
    .staff-small{
       display: block;
    }
    .login-small{
       display: block;
    }
    .apply-small{
       display:none;
    }
    
  }
  @media only screen and (max-width: 540px) {
    .dropbtn {
      display:block;
    }
    .login-big{
       display:none;
    }
    .staff-big{
       display:none;
    }
    .staff-small{
       display: block;
    }
    .login-small{
       display: block;
    }
    .apply-small{
       display:block;
    }
    .apply-big{
       display:none;
    }
 
  }
 @media only screen and (min-width: 630px) {
    .dropbtn {
      display:none;
    }
  }

