body {
    font-family: Arial, sans-serif;
    background-color: #fffe;
    margin: 0;
    padding: 0;
}
.Main-Content {
    max-width: 75vw;
    margin: 20px auto;
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 15px;
    text-align: left;
}
th {
    background-color: #f58426;
    color: white;
}
h2 {
    color: #333;
    text-align: center;
}