.about-section {
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 80px;
    color: darkblue;
}

h2 {
    font-size: 40px;
    text-align: center;
    color: darkorange;
}

body {
    background-image: url("nplandscape_1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.column {
    float: left;
    width: 15%;
    padding: 0 8px;
}

.card {
    background-color: white;
    text-align: center;
}
  